.taskbar {
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  color: #fff;
  position: absolute;
  width: 100%;
}

.taskbar__start {
  float: left;
}
.taskbar__start div {
  cursor: pointer;
  height: 60px;
  width: 60px;
}
.taskbar__start img {
  width: 100%;
}

.taskbar__date {
  float: right;
  height: 60px;
  text-align: center;
}

.taskbar__date > div {
  height: 60px;
  position: relative;
  width: 100px;
}
.taskbar__date > div p {
  left: 50%;
  line-height: 18px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.taskbar::after {
  clear: both;
  content: '';
  display: table;
}

.taskbar__mid {
  float: left;
  width: 80%;
}
.taskbar__mid > div {
  height: 60px;
  position: relative;
  width: 100%;
}
.taskbar__mid > div p {
  margin: 0;
  padding: 0;
  position: absolute;
  transition: translate(-50%, -50%);
  top: 50%;
}

.taskbar__mid > div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.taskbar__mid > div ul li {
  border: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 0;
  border-top: 0;
  cursor: pointer;
  display: inline-block;
  padding: 12px 10px;
  text-align: center;
  width: 50px;
}

.taskbar__mid > div ul li {
  font-size: 30px;
}
