.app {}

.app__content {
    padding: 10px;
}

.app__content > div {
    background: linear-gradient(to bottom right, #330033, #660066);
    background-size: cover;
    bottom: 0;
    color: #ffffff;
    cursor: pointer;
    height: 135px;
    padding: 10px;
    position: relative;
    transition: bottom .5s;
}
.app__content:hover > div {
    bottom: 5px;
}

.app__content > div h4 {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color .5s, display .5s;
}


.app__content > div h4 em {
  display: block;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
}

.app__content > div p {
    color: transparent;
    margin: 0;
    padding: 12px;
    transition: color .5s, display .5s;
}


.app__content > div:hover h4 {
    display: none;
}

.app__content > div:hover p {
    color: white;
    display: block;
}
