.program {
  background: white;
  height: 100vh;
  width: 100%;
}

.program__bar {
  background: #333;
  height: 35px;
  width: 100%;
}

.program__bar .action {
  background: green;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: none;
  margin: 8px 5px;
  padding: 2px 5px;
}

.program__bar .name {
  color: white;
  padding: 10px;
}

.program__bar:hover .action {
  display: inline-block;
}
.program__bar:hover .name {
  display: none;
}
