.start-menu {
    background: rgba(0, 0, 0, .9);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.start-menu::after {
    clear: both;
    content: '';
    display: table;
}

.start-menu__app {
    left: 50%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.start-menu__app > div {
    float: left;
    width: calc(100% / 4);
}
