@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.application {
  background: url(./background.jpg);
  background-size: cover;
  font: 12px 'arial', sans-serif;
  height: 100vh;
  outline: 1px solid black;
  position: relative;
  width: 100%;
}

.pane {
  background: rgba(0, 0, 0, .3);
  left: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

/* for the sake of transition */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
